<link rel="stylesheet" href="stylesheets/add-photo.css">
{{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> --}}
<script src="/js/add-photo.js"></script>


<div class="row">
  <div class="mx-auto">

    <!-- Upload image input-->
    <div class="input-group rounded-pill bg-white shadow-sm mx-auto">
      <input name="image" id="upload" type="file" onchange="readURL(this);" class="form-control border-0">

      <div class="input-group-append">
        <label for="upload" class="btn btn-light rounded-pill"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small
            class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
      </div>

    </div>

    <!-- Uploaded image area-->
    <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
    <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
        class="img-fluid rounded shadow-sm mx-auto d-block"></div>
  </div>
</div>
