<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="map">
  <div id="map"></div>
  <div class="map-c">
    <h1>ABC Stores</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium id cumque est dolores voluptatibus.</p>
    <div class="det"><i class="fa fa-map-marker"></i> 102 New Road, New City</div>
    <div class="det"><i class="fa fa-phone"></i> 001 2045 509</div>
    <div class="det"><i class="fa fa-globe"></i> www.abcstores.com</div>
    <center>
      <button class="fa fa-car"></button>
      <button class="fa fa-envelope"></button>
    </center>
  </div>
</div>
