<script defer src="/js/application.js"></script>
{{!-- <link rel="stylesheet" href="stylesheets/filter.css">


<div class="filter">

  <ul>
    <li>
      <label for="gender">Gender</label>
      <select id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </li>
    <li>
      <label for="brand">Brand</label>
      <select name="brand" id="brand">
        <option value="Balmain">Balmain</option>
        <option value="Bottega Veneta">Bottega Veneta</option>
        <option value="Brioni">Brioni</option>
        <option value="Brunello Cucinelli">Brunello Cucinelli</option>
        <option value="Burberry">Burberry</option>
        <option value="Celine">Celine</option>
        <option value="Chanel">Chanel</option>
        <option value="Dior">Dior</option>
        <option value="Dolce&Gabbana">Dolce&Gabbana</option>
        <option value="Givenchy">Givenchy</option>
        <option value="Gucci">Gucci</option>
        <option value="Jimmy Choo">Jimmy Choo</option>
        <option value="Louis Vuitton">Louis Vuitton</option>
        <option value="Prada">Prada</option>
        <option value="Saint Laurent Paris">Saint Laurent Paris</option>
        <option value="Moncler">Moncler</option>
        <option value="Tom Ford">Tom Ford</option>
        <option value="Valentino">Valentino</option>
        <option value="Versace">Versace</option>
      </select>
    </li>
    <li>
      <label for="gender">Category</label>
      <select name="category" id="category">
        <option value="footwear">Footwear</option>
        <option value="outerwear">Outerwear</option>
        <option value="tops">Tops</option>
        <option value="bottoms">Bottoms</option>
        <option value="tailoring">Tailoring</option>
        <option value="accessories">Accessories</option>
      </select>
    </li>
    <li>
      <label for="style">Select Style</label>
      <select name="style" id="style">
        <option value="luxury">Luxury</option>
        <option value="streetwear">Streetwear</option>
        <option value="avant Garde">Avant Garde</option>
        <option value="vintage">Vintage</option>
        <option value="tech Gear">Tech Gear</option>
        <option value="minimalist">Minimalist</option>
      </select>
    </li>
  </ul>

</div> --}}

<link rel="stylesheet" href="/stylesheets/filter.css">
<script src="/js/filter.js"></script>


<div class="container spacey drp-wrapper">
  <div class="drp-menu">
    <h3>Gender</h3>
    <div class="select">
      <select id="sex" name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>
  <div class="drp-menu">
    <h3>Brand</h3>
    <div class="select">
      <select name="brand" id="brand">
        <option value="Balmain">Balmain</option>
        <option value="Bottega Veneta">Bottega Veneta</option>
        <option value="Brioni">Brioni</option>
        <option value="Brunello Cucinelli">Brunello Cucinelli</option>
        <option value="Burberry">Burberry</option>
        <option value="Celine">Celine</option>
        <option value="Chanel">Chanel</option>
        <option value="Dior">Dior</option>
        <option value="Dolce&Gabbana">Dolce&Gabbana</option>
        <option value="Givenchy">Givenchy</option>
        <option value="Gucci">Gucci</option>
        <option value="Jimmy Choo">Jimmy Choo</option>
        <option value="Louis Vuitton">Louis Vuitton</option>
        <option value="Prada">Prada</option>
        <option value="Saint Laurent Paris">Saint Laurent Paris</option>
        <option value="Moncler">Moncler</option>
        <option value="Tom Ford">Tom Ford</option>
        <option value="Valentino">Valentino</option>
        <option value="Versace">Versace</option>
      </select>
    </div>
  </div>
  <div class="drp-menu">
    <h3>Category</h3>
    <div class="select">
      <select name="category" id="category">
        <option value="footwear">Footwear</option>
        <option value="outerwear">Outerwear</option>
        <option value="tops">Tops</option>
        <option value="bottoms">Bottoms</option>
        <option value="tailoring">Tailoring</option>
        <option value="accessories">Accessories</option>
      </select>
    </div>
  </div>
  <div class="drp-menu">
    <h3>Style</h3>
    <div class="select">
      <select name="style" id="style">
        <option value="luxury">Luxury</option>
        <option value="streetwear">Streetwear</option>
        <option value="avant Garde">Avant Garde</option>
        <option value="vintage">Vintage</option>
        <option value="tech Gear">Tech Gear</option>
        <option value="minimalist">Minimalist</option>
      </select>
    </div>
  </div>
</div>

</div>
