<link rel="stylesheet" href="stylesheets/navbar.css">
{{!-- <script defer src="/js/navbar.js"></script> --}}

<div class="main">
  <header>
    <ul>
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a href="#">Shop</a></li>
      <li class="nav-li"><a href="#">Accessories</a></li>
      <li class="nav-li logo" style="height: 80px;">
        <h1>Ecommerce</h1>
      </li>
      <li class="nav-li"><a href="#">Collections</a></li>
      <li class="nav-li"><a href="#">Brands</a></li>
      <li class="nav-li"><a href="/login">Login</a></li>
    </ul>
  </header>
