<link rel="stylesheet" href="/stylesheets/navbar.css">
{{!-- <script defer src="/js/navbar.js"></script> --}}

<div class="main-header">
  <header>
<<<<<<< HEAD
    <ul>
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a href="/create">Add item</a></li>
      <li class="nav-li"><a href="/posts">All Items</a></li>
      <li class="nav-li logo" style="height: 60px;">
        <h1 style="
                box-sizing:border-box;
                color:rgb(51, 51, 51);
                display:block;
                font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size:14px;
                height:121px;
                line-height:120px;
                list-style-image:none;
                list-style-position:outside;
                list-style-type:none;
                margin-block-end:10px;
                margin-block-start:0px;
                margin-bottom:10px;
                margin-inline-end:0px;
                margin-inline-start:0px;
                margin-top:0px;
                padding-inline-start:40px;
                text-size-adjust:100%;
                width:868px;
                -webkit-tap-highlight-color:rgba(0, 0, 0, 0);


            {{!-- box-sizing:border-box;
            color:rgb(35, 31, 32);
            display:block;
            font-family:Oswald, sans-serif;
            font-size:19.7425px;
            font-weight:700;
            height:94px;
            line-height:94.764px;
            list-style-image:none;
            list-style-position:outside;
            list-style-type:none;
            margin-block-end:13.2275px;
            margin-block-start:13.2275px;
            margin-inline-end:0px;
            margin-inline-start:0px;
            text-align:center;
            text-transform:uppercase;
            width:194.609px;  --}}

            {{!-- font-size: 2.5rem; 
            font-family: 'Oswald', sans-serif;
            display: block; 
            margin-block-start: 0.67em; 
            margin-block-end: 0.67em;
            margin-inline-start: 0px; 
            margin-inline-end: 0px;
            font-weight: bold;
            float: left;
            text-transform: uppercase;
            width: 12.5%;
            text-align: center; 
            list-style: none;
            line-height: 12rem;
            color: #231f20; --}}
            
           " 
           class="Ecommerce-h1">Ecommerce</h1>
=======
    <ul style="padding-inline-start: 0px">
      <li><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/">Home</a></li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/create">Add item</a>
      </li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/posts">All Items</a>
      </li>
      <li style="font-size: 24px; font-family: 'Montserrat', sans-serif;">Brand Hand</li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="#">Collections</a>
      </li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="#">Brands</a></li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/login">Login</a>
>>>>>>> 340371b00e51d0a954305f3ae820ef2923e6abf0
      </li>
    </ul>
  </header>

