<link rel="stylesheet" href="/stylesheets/navbar.css">
{{!-- <script defer src="/js/navbar.js"></script> --}}

<div class="main-header">
  <header>
    <ul style="padding-inline-start: 0px">
      <li><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/">Home</a></li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/item/new">Add
          item</a>
      </li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/goods">All Items</a>
      </li>
      <li style="font-size: 24px; font-family: 'Montserrat', sans-serif;">Brand Hand</li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="#">Collections</a>
      </li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/admin">Admin</a></li>
      <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="/login">Login</a>
      {{!-- <li class="nav-li"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;" href="#">Brands</a></li> --}}
      <li class="nav-li-login"><a style="font-family: 'Montserrat', sans-serif; font-weight:bold;"
          href="/login">Login</a>
      </li>
    </ul>
  </header>
