<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="stylesheets/card.css">
<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- card start -->

<div class="container">
  <div class="container_inner default_template_holder clearfix page_container_inner">
    <div class="vc_row wpb_row section vc_row-fluid" style=" padding-top:0px; text-align:left;">
      <div class=" full_section_inner clearfix">
        <div class="vc_col-sm-12 wpb_column vc_column_container">
          <div class="wpb_wrapper">
            <div class="projects_holder_outer v3 portfolio_with_space portfolio_standard ">
              <div class="filter_outer">
                <div class="filter_holder">
                  <ul>
                    <li class="filter active current" data-filter="all"><span>All</span></li>
                    <li class="filter" data-filter="portfolio_category_17"><span>Art</span></li>
                    <li class="filter" data-filter="portfolio_category_2"><span>Business</span></li>
                    <li class="filter" data-filter="portfolio_category_5"><span>Photography</span></li>
                  </ul>
                </div>
              </div>
              <div class="projects_holder clearfix v3 standard">
                <article class="mix portfolio_category_17 portfolio_category_5  mix_all"
                  style="display: inline-block; opacity: 1;">
                  <div class="image_holder"><a class="portfolio_link_for_touch"
                      href="http://demo.qodeinteractive.com/bridge/portfolio_page/stockholm-fashion-destination/"
                      target="_self"><span class="image"><img width="1100" height="825"
                          src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stockholm-fashion-destination-last-iceland-sunshine.jpg"
                          class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span
                      class="text_holder"><span class="text_outer"><span class="text_inner"><span
                            class="feature_holder"><span class="feature_holder_icons"><a
                                class="lightbox qbutton small white" title="Stockholm Fashion"
                                href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stockholm-fashion-destination-last-iceland-sunshine.jpg"
                                data-rel="prettyPhoto[pretty_photo_gallery]"
                                rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white"
                                href="http://demo.qodeinteractive.com/bridge/portfolio_page/stockholm-fashion-destination/"
                                target="_self">view</a></span></span></span></span></span></div>
                  <div class="portfolio_description ">
                    <h5 class="portfolio_title"><a
                        href=""
                        target="_self">Seller</a></h5><span class="project_category">Categories, brand</span>
                  </div>
                </article>

                <div class="filler"></div>
                <div class="filler"></div>
                <div class="filler"></div>
              </div>
              <div class="portfolio_paging"><span rel="2" class="load_more"><a href="">Show more</a></span></div>
              <div class="portfolio_paging_loading"><a href="javascript: void(0)" class="qbutton">Loading...</a></div>
            </div>
            <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 20px;"></div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
