<form action="/" method="post">
  <label>Email address</label>
  <input type="email" name="email" placeholder="Enter email">
  <small>We'll never share your email with anyone else.</small>

  <label>Fullname</label>
  <input type="text" name="Fullname" placeholder="Fullname">

  <label>Login</label>
  <input type="text" name="login" placeholder="Login">

  <label>Password</label>
  <input type="password" name="password" placeholder="Password">

  <label>Phone</label>
  <input type="text" name="fullname" placeholder="Fullname">

  <div class="radio">
    <label>Select Gender<br>
      <input type="radio" name="Woman">
      <p>Female</p>
    </label>
    <input type="radio" name="Man">
    <p>Male</p>
    </label>
  </div>

  <button type="submit">Enter</button>
</form>
