<link rel="stylesheet" href="stylesheets/navbar.css">
<script defer src="/js/navbar.js"></script>

<div class="cd-slider">
  <ul>
    <li>
      <div class="image"
        style="background-image:url(https://images.unsplash.com/photo-1421809313281-48f03fa45e9f?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);">
      </div>
      <div class="content">
        <h2>Jackets Collection 2017</h2>
        <a href="#">View Gallery</a>
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://images.unsplash.com/uploads/1411724908903377d4696/2e9b0cb2?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);">
      </div>
      <div class="content">
        <h2>Accessories</h2>
        <a href="#">View Gallery</a>
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://images.unsplash.com/photo-1416838375725-e834a83f62b7?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);">
      </div>
      <div class="content">
        <h2>Winter Shoes</h2>
        <a href="#">View Gallery</a>
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://images.unsplash.com/35/JOd4DPGLThifgf38Lpgj_IMG.jpg?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);">
      </div>
      <div class="content">
        <h2>Winter Collection 2017</h2>
        <a href="#">View Gallery</a>
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://images.unsplash.com/photo-1453974336165-b5c58464f1ed?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);">
      </div>
      <div class="content">
        <h2>Summer Collection</h2>
        <a href="#">View Gallery</a>
      </div>
    </li>
  </ul>
</div>
<!--/.cd-slider-->
