<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card hoverable">
        <div class="card-content grey-text text-lighten-1">
          <div class="row card-title">
            <div class="col s6 left-align login-link"><span>Log in</span></div>
            <div class="col s6 right-align signup-link active"><span>Sign up</span></div>
          </div>
          <div class="row">
            <div class="input-field email-field col s12">
              <input id="email" type="email" class="validate white-text">
              <label for="email" class="grey-text text-lighten-1">Email</label>
            </div>
          </div>
          <div class="row">
            <form action="." class="col s12 password-form" autocomplete="nope">
              <div class="row">
                <div class="input-field password-field col s12">
                  <input id="password" type="password" class="validate">
                  <span id="password-strength"></span>
                  <label for="password">Password</label>
                  <p class="help-text"></p>
                </div>
              </div>
              <div class="row confirm-password-row">
                <div class="input-field confirm-password-field col s12">
                  <input id="confirm-password" type="password" class="validate">
                  <label for="confirm-password">Confirm Password</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-action center-align">
          <div class="row">
            <a class="btn-login btn amber darken-4 waves-effect white-text">Log In</a>
          </div>
          <div class="row forgot-password-row">
            <span class="amber-text text-darken-4 waves-effect">Forgot Password?</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
