<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="stylesheets/login.css">
<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- login start -->




<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>

        <form method="POST" class="login100-form validate-form" action="/login">
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="username" placeholder="Type your username" autocomplete="off"
              autofocus>
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="password" placeholder="Type your password">
            <span class="focus-input100 password"></span>
          </div>

          <div class="text-right p-t-8 p-b-31">
            <a href="#">
              Forgot password?
            </a>
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <button style="background-color: #B95A3A; color: white;" type="submit" class="btn">
                Login
              </button>
            </div>
          </div>

          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
              Or Sign Up Using
            </span>
          </div>

          <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </form>

      </div>
      <div class="col-md-8 banner-sec login-img-container" style="">
        <img class="login-img" src="https://i.pinimg.com/originals/02/8f/ec/028fec979d707186b24c35f0248d7e4b.jpg"
          alt="man and woman in the shop">
        <a class="login-img-text" href="/signup">Sign Up</a>
      </div>
    </div>

  </div>

</section>

<!-- login end -->
