<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="stylesheets/shop.css">
<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- card start -->

{{#each goods}}
{{card}}
{{/each}}

<div class="container">
  <div class="container_inner default_template_holder clearfix page_container_inner">
    <div class="paging"><span rel="2" class="load_more"><a href="">Show more</a></span></div>



  </div>
</div>
