<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="stylesheets/signup.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- login start -->




<section class="login-block">
  <div class="container">
    <div class="row d-flex justify-content-sm-center">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Sign up Now</h2>

        <form method="POST" class="login100-form validate-form" action="/signup">
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="username" placeholder="Type your username" autocomplete="off"
              autofocus required>
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="pass" placeholder="Type your password" required>
            <span class="focus-input100 password"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <span class="label-input100">Confirm password</span>
            <input class="input100" type="password" name="passConfirm" placeholder="Type your password" required>
            <span class="focus-input100 password"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <span class="label-input100">Email</span>
            <input class="input100" type="email" name="email" placeholder="Type your password" required>
            <span class="focus-input100 password"></span>
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <button style="background-color: #B95A3A; color: white;" id="submit-reg" type="submit" class="btn">
                Submit
              </button>
            </div>
          </div>

          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
              Or Sign Up Using
            </span>
          </div>

          <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </form>
      </div>

    </div>

</section>

<!-- login end -->
