<script defer src="/js/navbar.js"></script>
<link rel="stylesheet" href="stylesheets/index.css">
<div class="cd-slider">
  <ul>
    <li>
      <div class="image"
        style="background-image:url(https://srv4.imgonline.com.ua/result_img/imgonline-com-ua-Black-White-zXk5UQ6QSA.jpg);">
      </div>
      <div class="content">
        <h2>Sell your clothes here</h2>
        {{!-- <a href="#">View Gallery</a> --}}
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://images.fashionmodeldirectory.com/images/shows/8610/8610-2216-1239-2413-fullsize.jpg);">
      </div>
      <div class="content">
        <h2 style="color: #5D5C61">Every order is protected</h2>
        {{!-- <a href="#">View Gallery</a> --}}
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://j0annesim.files.wordpress.com/2009/09/chanel-coco-cocoon-lily-allen-advertising-campaign-by-karl-lagerfeld-04.jpg);">
      </div>
      <div class="content">
        <h2>Legit check for free</h2>
        {{!-- <a href="#">View Gallery</a> --}}
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://www.harrolds.com.au/assets/uploads/images/balmainmss19hero_carousel_large.jpg);">
      </div>
      <div class="content">
        <h2 style="color: #5D5C61">New Collections</h2>
        {{!-- <a href="#">View Gallery</a> --}}
      </div>
    </li>
    <li>
      <div class="image"
        style="background-image:url(https://medias.fashionnetwork.com/image/upload/v1/medias/59cc01ae5afd96a81c668114dea6f7082477177.jpg);">
      </div>
      <div class="content">
        <h2><span style="color: white">Let's try</span> it for free!</h2>
        {{!-- <a href="#">View Gallery</a> --}}
      </div>
    </li>
  </ul>
</div>
<!--/.cd-slider-->
